{% extends "index/base.html" %}
{% block "title" %}{{ title }}{% endblock %}
{% block "contents" %}
<h1>Logged out successfully</h1>
<h2><a href="{% url "index:HomePage" %}">Back</a></h2>
{% endblock %}