{% extends "index/base.html" %}
{% block "title" %}Change password{% endblock %}
{% block "contents" %}
<form method="post" action="{% url 'password_change_done' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>

<input type="submit" value="Change password">
<input type="hidden" name="next" value="{{ next }}">
</form>