{% extends "index/base.html" %}
{% block "title" %}Add assignments to assignment list{% endblock %}
{% block "contents" %}
<h1>Add assignments to assignment list</h1>
{% if list.assignment_set.all %}
<ul>
{% for assignment in list.assignment_set.all %}
<li>{{ assignment.game.game_name }} - {{ assignment.word_list.name }}: {{ assignment.word_list.original_language }} - {{ assignment.word_list.translated_language }} <a href="{% url "index:RemoveAssignmentSQL" assignment_list_id=list.pk assignment_id=assignment.pk %}">remove</a></li>
{% endfor %}
</ul>
{% else %}
This assignment list is empty
{% endif %}
<form method="post" action="{% url 'index:AddAssignmentToSQL' assignment_list_id=list.pk %}">
{% csrf_token %}
<label for="game">Game</label>
<select name="game" id="game">
{% for game in Games %}
    <option value="{{ game.pk }}">{{ game.game_name }}</option>
{% endfor %}
</select>
<label for="wordlist">Word list</label>
<select name="wordlist" id="wordlist">
{% for word_list in WordLists %}
    <option value="{{ word_list.pk }}">{{ word_list.name }}: {{ word_list.original_language }} - {{ word_list.translated_language }}</option>
{% endfor %}
</select>
<input type="submit" value="Add assignment">
</form>
{% endblock %}