{% extends "index/base.html" %}
{% load static %}
{% block "title" %}Assignment lists{% endblock %}
{% block "head" %}
<link rel="stylesheet" href="{% static "index/assignment_lists.css" %}">
{% endblock %}
{% block "contents" %}
<h1>Assignment lists</h1>
{% if lists %}
<ul>
{% for list in lists %}
<li><a href="{% url "index:AddAssignments" assignment_list_id=list.pk %}">Due: {{ list.due_date }}, Assignments: <ul>
{% for assignment in list.assignment_set.all %}
<li>{{ assignment.game.game_name }} - {{ assignment.word_list.name }}: {{ assignment.word_list.original_language }} - {{ assignment.word_list.translated_language }}</li>
{% endfor %}
</ul></a>
<a href="{% url "index:AssignmentListRemove" assignment_list_id=list.pk %}">remove</a>
</li>
{% endfor %}
</ul>
{% else %}
You have made no assignment lists.
{% endif %}
<a href="{% url "index:AssignmentCreationPage" %}">Add assignment</a>
{% endblock %}