{% load static %}
<!Doctype html>
<html>
    <head>
        <link rel="favicon" type="image/jpg" href="{% block "favicon" %}{% static "index/favicon.jpg" %}{% endblock %}">
        <link rel="stylesheet" href="{% static "index/style.css" %}">
        <title>{% block "title" %}configured incorrectly{% endblock %}・languagebean</title>
        {% block "head" %}
        {% endblock %}
    </head>
    <body>
        {% block "contents" %}
        <h1>Oops! This is configured incorrectly!</h1>
        {% endblock %}
    </body>
</html>