{% extends "index/base.html" %}
{% block "title" %}Create assignment{% endblock %}
{% block "contents" %}
<h1>Create assignment</h1>
<form method="post" action="{% url 'index:CreateAssignment' %}">
{% csrf_token %}
<label for="due">Due date</label><br />
<input type="date" id="due" name="due"><br />
<label>Class:</label><br />
{% for class in classes %}
<input type="radio" id="class{{ forloop.counter0 }}" name="class" value="{{ class.id }}">
<label for="class{{ forloop.counter0 }}">{{ class.name }}</label><br />
{% endfor %}
<input type="submit" value="create">
</form>
{% endblock %}