{% extends "index/base.html" %}
{% block "title" %}Assignments{% endblock %}
{% block "contents" %}
<ul>
    {% for assignment_list in assignment_lists %}
        <h1>Due: {{ assignment_list.due_date }} Set by: {% if assignment_list.set_by.first_name != "" and assignment_list.set_by.last_name != "" %}{{ assignment_list.set_by.first_name }} {{ assignment_list.set_by.last_name }}{% else %}{{ assignment_list.set_by.username }}{% endif %}</h1>
        {% for assignment in assignment_list.assignment_set.all %}
        <li><a href="{% url "index:GamePage" game_id=assignment.game.pk word_list_id=assignment.word_list.pk %}">{{ assignment.game.game_name }} - {{ assignment.word_list.original_language }}-{{ assignment.word_list.translated_language }} {{ assignment.word_list.name }}</a></li>
        {% endfor %}
    {% endfor%}
</ul>
{% endblock %}