{% extends "index/base.html" %}
{% load static %}
{% block "title" %}{{ game.game_name }}{% endblock %}

{% block "head" %}
<script>
var original_words = [
{% for word in word_list.word_set.all %}"{{ word.original_word }}",{% endfor %}
]
var translated_words = [
{% for word in word_list.word_set.all %}"{{ word.translated_word }}",{% endfor %}
]
game_id = {{ game.pk }};
</script>
<link rel="stylesheet" href="{{ stylesheet }}">
{% endblock %}

{% block "contents" %}
{{ game.game_contents | safe }}
<script src="{{ script }}"></script>
{% endblock %}
