{% extends "index/base.html" %}
{% block "title" %}Home{% endblock %}
{% block "contents" %}
<h1 style="font-size:5rem;margin-bottom:0.2rem;">Languagebean</h1>
<h1 style="font-size:1.5rem;margin-top:0;"><a href="//languagenut.com">Languagenut</a> but better</h2>
{% if teacher %}
<h2><a href="{% url "index:AssignmentLists" %}">Assignment lists</a></h2>
{% elif student %}
<h2><a href="{% url "index:GameList" %}">Assignment list</a></h2>
{% endif %}
{% if login == 1 %}
<h2><a href="{% url "logout" %}">Log out</a></h2>
{% else %}
<h2><a href="{% url "login" %}">Log in</a></h2>
{% endif %}
{% endblock %}