h1 {
    text-align: center;
    font-size: 3rem;
}
.option {
    padding: 10% 0;
    width: 50%;
    font-size: 2rem;
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
#center-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#score {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2.5rem;
    font-weight: bold;
}
#win {
    font-size: 2.5rem;
    font-weight: bold;
}