body {
    font-family: calibri, Arial, Helvetica, sans-serif;
    background: black;
    color: white;
    margin: 0;
}
button {
    text-align: center;
    display: block;
    border: none;
    background: #dddddd;
}
button:hover {
    background: #cecece;
}
button:active {
    background: #c0c0c0;
}
a {
    color: #ffffff;
}
a:hover {
    color: #dddddd;
    text-decoration: none;
}
a:active {
    color: #cecece;
    text-decoration: none;
}
h1 {
    text-align: center;
}